.banner{
    width: 100%;
    background-image: url('../../images/pizza-3007395_1280.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    
    z-index: -998;
    position: relative;
    overflow: hidden;
}
.back{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -999;
}

.bannerTitle{
    color: aliceblue;
    width: 100%;
    font-size: 45px;
    
    text-transform: uppercase;
    
    transition: .3s;
     position: absolute;
    top: 50%;
    left:0%;
    text-align: center;
}
.bannerTitleTwo{
    color: aliceblue;
    width: 100%;
    font-size: 45px;
    
    text-transform: uppercase;
    
    transition: .3s;
     position: absolute;
    top: 70%;
    right: 0;
    text-align: center;
    
}

@media (max-width:1024px){
    .bannerTitle{
        font-size: 23px;
        letter-spacing: 1px;
        
    }
    .bannerTitleTwo{
        font-size: 23px;
        letter-spacing: 1px;
       
    }
    .banner{
        align-items: center;
        height: 100vh;
    }
}

